html {
  background-color: #e7ecef;
}

select:hover {
  cursor: pointer;
}

.navbar-color {
  background-color: #274c77 !important;
  color: white !important;
}

.background-light-grey {
  background-color: #e7ecef;
}

.character-background {
  width: 50%;
  height: 20%;
  background-color: #274c77;
  color: white;
}

a:hover {
  cursor: pointer;
}

.button-color {
  background-color: #8d99ae;
}

.button-margin {
  margin: 2%;
}

.no-underline {
  text-decoration: none;
}
